---
import Layout from '../layouts/Layout.astro';

const posts = Object.entries(
	import.meta.glob('../blog/*.mdx', { eager: true })
).map(([path, module]) => ({
	slug: path.split('/').pop()?.replace(/\.mdx$/, ''),
	title: module.frontmatter.title
}));
---

<Layout>
	<main>
		<h1>Blog</h1>
		<ul>
			{posts.map((post) => (
				<li><a href={`/posts/${post.slug}`}>{post.title}</a></li>
			))}
		</ul>
	</main>
</Layout>
